// Variables > Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$container: 1170px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$content: 600px;
$sidebar: 200px;

// Variables > Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$colorInitial: #FFF !default;
$colorPrimary: #FE4B71 !default;
$colorSecondary: #606C76 !default;
$colorTertiary: #F4F5F6 !default;
$colorQuaternary: #D1D1D1 !default;

// Variables > Fonts
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$fontPrimary		: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$fontPrimaryBold	: false;
$fontSecondary		: false;
$fontSecondaryBold	: false;
$fontIcon 			: "icomoon";

// Variables > Font Size
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$fontSizeDefault 	: 16px;
